# For more information about the properties used in
# this file, please see the EditorConfig documentation:
# http://editorconfig.org/

# Download a Plugin if you IDE needs it http://editorconfig.org/#download

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
space_after_anonymous_functions = true
space_after_control_statements = true
spaces_around_operators = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,js,scss,json}]
indent_size = 4
indent_style = space
