.tabs {
    border-bottom: 1px solid $border-color-primary;
    display: inline-block;
    width: 100%;
}

.tab-item {
    background: $grayscale-3;
    border: 1px solid transparent;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: $txt-color-primary;
    display: inline-block;
    font-size: $font-size-xsmall;
    font-weight: 600;
    margin-right: $spacing-xxs - 3;
    opacity: .5;
    padding: $spacing-xs $spacing-m;
    text-decoration: none;

    &:hover,
    &:focus {
        opacity: 1;
        text-decoration: none;
    }

    &.-active {
        background: transparent;
        border-color: $border-color-primary;

        opacity: 1;
    }
}
